body {
    height: 100%;
    width: 100%;
    background-color: blue;
    margin: 0;
    padding: 0;
    justify-items: center;
    
}

.container {
    background-color: white;
    height: 52rem;
    width: 113rem;
    margin-top: 60px;
    border-radius: 20px;
    display: flex;
    
}

.container .esquerda {
    height: 100%;
    width: 50%;
    background-color: rgb(209, 209, 209);
}

.container .direita{
    height: 100%;
    width: 50%;
}